html {
    height: 100%;
    width: 100%;
}

#augsha {
    display: grid;
    grid-template-columns:1fr 60px 60px 60px 60px;
    grid-template-rows: 50px;
    grid-template-areas: 
    ". gmail atteli lietotnes ierakstities";
}

a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
}
#gmail{
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#atteli{
    grid-area: atteli;
    justify-self: center;
    align-self: center;
}
#lietotnes{
    grid-area: lietotnes;
    justify-self: center;
    align-self: center;
}
#ierakstities{
    grid-area: ierakstities;
    justify-self: center;
    align-self: center;
}

#galvenais{
    min-height: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 200px 70px 70px 200px;
    grid-template-areas: 
    ". Logo ."
    ". mekleshana ."
    ". pogas ."
    ". valodas .";
}

#Logo{
    grid-area: Logo;
    justify-self: center;
    align-self: center;
}
#mekleshana{
    grid-area: mekleshana;
    height: 32px;
    width: 70%;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
}

#pogas{
    display: pogas;
    grid-area: pogas;
    justify-self: center;
    align-self: center;
}
#galvenapoga{
    border: none;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
}
#veiksmespoga{
    border: none;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
}

#valodas{
    grid-area: valodas;
    justify-self: center;
}

#apaksha{
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns:100px 100px 100px 150px 1200px 80px 80px 80px;
    grid-template-rows: 50px;
    grid-template-areas:
    "ad darbs par kadarbojas . privatums noteikumi opcijas";
}

#ad{
    grid-area: ad;
    justify-self: center;
    align-self: center;
}
#darbs{
    grid-area: darbs;
    justify-self: center;
    align-self: center;
}
#par{
    grid-area: par;
    justify-self: center;
    align-self: center;
}
#kadarbojas{
    grid-area: kadarbojas;
    justify-self: center;
    align-self: center;
}
#privatums{
    grid-area: privatums;
    justify-self: center;
    align-self: center;
}
#noteikumi{
    grid-area: noteikumi;
    justify-self: center;
    align-self: center;
}
#opcijas{
    grid-area: opcijas;
    justify-self: center;
    align-self: center;
}